@charset "UTF-8";
/* Nuevas fuentes y cómo usarlas
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
*/
/* Todos los nombres en camelCase*/
* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 15vh;
  background-image: linear-gradient(to right, #d8e08d, #a2c88f, #93bf8c);
}

.header__titulo {
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  color: darkblue;
  font-weight: bold;
}

a {
  text-decoration: unset;
}

.nav_a {
  text-decoration: unset;
  color: black;
  font-size: 18px;
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
}

.bg-light {
  background: linear-gradient(to right, #d8e08d, #a2c88f, #93bf8c);
}

.nav-link:hover {
  color: darkblue !important;
  font-style: italic;
}

footer {
  height: 10vh;
  background-image: linear-gradient(to left, #d8e08d, #a2c88f, #93bf8c);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Rotación ícono de la red social cuando pasa el cursor */
.rotacionIconoRedSocial {
  transition: transform 3s;
}

.rotacionIconoRedSocial:hover {
  transform: rotateY(360deg);
}

/* Estilos para los hx */
.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}

.h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h5 {
  color: #2e2eff;
}

/* Estilos para los párrafos */
.parrafoInicio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
}

/* Estilos para el inicio */
.fondoSeccion, .fondoSeccion--imagen {
  height: 25vh;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: -6px;
}

.fondoSeccion--imagen {
  width: 100%;
  height: auto;
}

.fondoSeccion--imagen:hover {
  opacity: 0.2;
  transition: 500ms;
}

.centrarEnCuadrado {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0;
  background-color: #80808e;
  align-items: center;
}

/* Estilos para estudio */
.estudio__main {
  background-image: url(../videos/fondo-estudio.gif);
  background-repeat: no-repeat;
  background-position-x: left;
  background-attachment: fixed;
}

.estudio__parrafo {
  font-weight: bold;
  font-size: 20px;
}

.div__estudio__destacado {
  font-size: 20px;
  background-color: #bde775;
}

.hIgualPadre {
  height: 100%;
}

.hIgualPadreMF {
  height: 100%;
}

/* ************ Mobile First ************ */
@media (max-width: 768px) {
  nav a {
    font-size: 16px;
  }
  .fondoProyectosMF {
    display: flex;
    flex-direction: column-reverse;
  }
  .fondoSeccion--imagen {
    width: auto;
    height: 100%;
  }
  .centrarEnCuadrado {
    text-align: center;
    padding-top: 4%;
  }
  .traerAlFrente {
    z-index: +1;
  }
  .hIgualPadreMF {
    background-image: linear-gradient(to right, #d8e08d, #a2c88f, #93bf8c);
    height: auto;
    align-content: flex-start;
  }
  /* A partir del uso de Bootstrap*/
  /* Corrijo los tamaños del texto */
  /* Corrijo los margin-bottom para que los bordes queden pegados */
  ul, p, h3 {
    margin-bottom: 0;
  }
  p {
    font-size: .7rem;
  }
  /* Saco el margin para pantallas pequeñas en la galería */
  .carousel {
    margin: 0%;
  }
  .carousel-indicators {
    margin: 0%;
  }
  /* Achico el tamaño de la letra en el parrafo en negrita*/
  .estudio__parrafo {
    font-weight: bold;
    text-align: justify;
    font-size: 12px;
  }
}
