// Codigo correspondiente a los body

/* Estilos para los hx */

.h2
{
    font-family: $fuente-h23;
    color: $color-h2;
}

.h3
{
    font-family: $fuente-h23;
}

.h5
{
    color: $color-h5;
}

/* Estilos para los párrafos */
.parrafoInicio
{
    font-family: $fuente-p-inicio;
    color: $color-p-inicio;
    text-align: justify;
}

/* Estilos para el inicio */

.fondoSeccion
{
    height: 25vh;
    display:inline-block;
    position:relative;
    overflow: hidden;
    margin-bottom: -6px;
}

.fondoSeccion--imagen
{
    @extend .fondoSeccion;
    width: 100%;
    height: auto;
}

.fondoSeccion--imagen:hover
{
    opacity: 0.2; 
    transition: 500ms;
}

.centrarEnCuadrado
{
    text-align: center;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    padding:10px;
    margin:0;
    background-color: $color-transparencia-inicio;
    align-items: center;
}

/* Estilos para estudio */

.estudio__main
{
    background-image: $gif-fondo-estudio;
    background-repeat: no-repeat;
    background-position-x: left;
    background-attachment: fixed;
}

.estudio__parrafo
{
    font-weight: bold;
    font-size: 20px;
}

.div__estudio__destacado
{
    font-size: 20px;
    background-color: $color-cuadroChico-estudio;
}

.hIgualPadre
{
    height: 100%;
}
  
.hIgualPadreMF
{
    height: 100%;
}