// Codigo correspondiente a los header y el reset

*
{
    Margin:0;
    padding:0;
    box-sizing: border-box;
}

.header
{
    height: 15vh;
    background-image: $gradiente-principal;
    &__titulo
    {
        font-family: $fuente-titulo-ppal;
        color: $color-titulo-ppal;
        font-weight: bold;
    }
}

a
{
    text-decoration: unset;
}

.nav_a
{
    text-decoration: unset;
    color: black;
    font-size: 18px;
    font-family: $fuente-nav;
    margin: 10px;
}

.bg-light
{
  background: $gradiente-principal;
}

.nav-link:hover
{
  color: $color-titulo-ppal !important;
  font-style: italic;
}