$gradiente-principal: linear-gradient(to right, #d8e08d, #a2c88f, #93bf8c);
$gradiente-principal-invertido: linear-gradient(to left, #d8e08d, #a2c88f, #93bf8c);

$fuente-footer: Verdana, Geneva, Tahoma, sans-serif;
$fuente-titulo-ppal: 'Chakra Petch', Arial, Helvetica, sans-serif;
$fuente-nav: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fuente-h23: Verdana, Geneva, Tahoma, sans-serif;
$fuente-p-inicio: Verdana, Geneva, Tahoma, sans-serif;

$color-titulo-ppal: darkblue;
$color-h5: rgb(46, 46, 255);
$color-h2: blue;
$color-cuadroChico-estudio: rgb(189, 231, 117);
$color-p-inicio: white;
$color-transparencia-inicio:  rgb(128, 128, 128/ 0.9);

$gif-fondo-estudio: url(../videos/fondo-estudio.gif);




