
/* Nuevas fuentes y cómo usarlas
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
*/
/* Todos los nombres en camelCase*/
@import "variables";
@import "header";
@import "footer";
@import "body";

*
{
    Margin:0;
    padding:0;
    box-sizing: border-box;
}


/* ************ Mobile First ************ */
@media (max-width: 768px)
{
    h1
    {
        font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
        /* font-style: italic; */
        color: darkblue;
        text-align: center;
        /*padding-top: 7%;*/
    }

    li
    {
        display: inline;
        /* display: inline-block; */
        width: 10%;
        text-align: center;
        /*font-size: 14px*/
    }

    nav
    {
        text-align: center;
        /* Separo los links del nav del borde superior */
        padding-top: 10px;
    }

    nav a
    {
        font-size: 16px;
    }

    /* Modifico para que quede uno abajo del otro*/
    .bordesInicio
    {
        display: block;
        border: solid 3px black;
        height: 50%;
        width: 100%;
        overflow: hidden;
    }

    .fondoSeccion--proyectos
    {
        display: flex;
        flex-direction: column-reverse;

    }
    
    .centrarEnCuadrado
    {
        text-align: center;
        padding-top: 4%;
    }

    /* A partir del uso de Bootstrap*/
    /* Corrijo los tamaños del texto */
    
    /* Corrijo los margin-bottom para que los bordes queden pegados */
    ul, p, h3
    {
        margin-bottom: 0;
    }

    p
    {
        font-size: .7rem;
    }

    /* Saco el margin para pantallas pequeñas en la galería */
    .carousel
    {
        margin: 0%;
    }

    .carousel-indicators
    {
        margin: 0%;
    }

    /* Achico el tamaño de la letra en el parrafo en negrita*/
    .estudio__parrafo
    {
        font-weight: bold;
        text-align: justify;
        font-size: 12px;
    }

}